.grid {
    width: 90%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: 60px auto;
}

.grid img {
    margin: 2px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.grid img.flip {
    transform: rotateY(360deg);
}

.finish {
    background: rgb(155, 100, 100);
    width: 200px;
    height: 200px;
    z-index: 20;
    position: fixed;
    top: 100px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.data {
    display: flex;
    justify-content: space-around;
    padding: 20px 30px;
    font-size: 23px;
}

.scoreBoard {
    color: rgb(206, 121, 11);
    font-size: 30px;
}

.clickBoard {
    color: rgb(206, 121, 11);
    font-size: 30px;
}