body{
    background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    text-align: center;
    font-size: 10vw;
}
main{

    text-align: center;
    
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}