body {
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.26),
            rgba(255, 255, 255, 0.315)),
        url('pictures/snake.jpg');
    background-size: contain;

}

#snakeBoard {
    width: 300px;
    height: 600px;
    margin: 100px auto;
    background-color: aquamarine;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(10, 1fr);
    border: 10px groove rgb(129, 232, 240);
    border-radius: 10px;
}

.snake {
    background-color: rgb(255, 79, 79);
    border: 1px solid black;
}

.dish {
    background-color: rgb(233, 171, 78);
    border: 1px solid black;
    border-radius: 50%;
}

#start,
#score {
    width: 200px;
    height: 80px;
    position: relative;
    margin: 0 auto;
    padding: auto;
    text-align: center;
    bottom: 50px;
    border: 5px groove rgb(238, 240, 129);
    background-color: rgb(73, 180, 145);
    color: blue;
    font-size: 55px;
    border-radius: 30%;
    cursor: pointer;
    transition: all 0.4s;
}

#score {
    display: none;
}

#start:hover {
    font-size: 60px;
}

#nav {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    left: 5%;
    top: 6%;
    width: 140px;
    align-items: center;
    padding: 20px;
    background-color: rgba(81, 219, 134, 0.74);

}

#nav>img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

#navDiv {
    width: 80px;
    height: 30px;
    border: 3px solid rgb(151, 110, 22);
    border-radius: 20%;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    margin: 5px auto;
    background-color: rgba(238, 183, 138, 0.753);
}

h2 {
    color: rgb(143, 46, 16);
    font-size: 22px;
    text-align: center;
    margin: 5px auto;
    width: 100px;
}

.pointDiv {
    width: 100px;
    height: 100px;
    border: 3px solid rgb(151, 110, 22);
    text-align: center;
    font-size: 50px;
    border-radius: 50%;
    margin: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    background-color: rgba(238, 183, 138, 0.753);
    font-size: 60px;
}

#navDiv:hover {
    background-color: rgba(224, 145, 81, 0.753);
}